<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer" th:align="center">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
    <span>Spring Boot Security</span>
    <script src="../js/jquery-3.7.0.min.js"></script>
    <script src="../js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
    <script src="../js/bootstrap.bundle.min.js" th:href="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../js/jquery.serializejson.js"></script>
    <script src="../js/main.js" th:href="@{/js/main.js}"></script>
</div>
</body>
</html>