<!-- INICIO - Curso Turno -->
<div class="form-group"   th:each="cursoTurnos, rowStat : *{cursoTurnos}" th:if="${rowStat.index} &lt; 3">
    <div class="col-sm-5"  >
        <div class="form-group"
             th:class="${#fields.hasErrors('cursoTurnos[__${rowStat.index}__].quantidadeVagas')} ? has-error">
            <label class="control-label required"
                   th:text="|#{mensagem.quantidadeDeVagas}|" >Quantidade de Vagas</label>
            <input type="text"  class="form-control input-sm" th:id="quantVagas_ + ${rowStat.index}"
                   th:field="*{cursoTurnos[__${rowStat.index}__].quantidadeVagas}"  onkeydown="limita(this);" ng-model="numero.valor"  onkeyup="somenteNumeros(this);"  min="0" />
            <label class="error"
                   th:if="${#fields.hasErrors('cursoTurnos[__${rowStat.index}__].quantidadeVagas')}? fieldError"
                   th:errors="*{cursoTurnos[__${rowStat.index}__].quantidadeVagas}"></label>
        </div>
    </div>
    <div class="col-sm-5" >
        <div class="form-group" th:classappend="${#fields.hasErrors('cursoTurnos[__${rowStat.index}__].turno')} ? has-error">
            <label class="control-label required" for="turno" th:text="#{mensagem.turno}">Turno</label>
            <select class="form-control " id="turno" th:field="*{cursoTurnos[__${rowStat.index}__].turno}" data-plugin-selectTwo="">
                <option selected="selected" value="" th:text="#{mensagem.selecione}"></option>
                <option th:each="turno: ${getAllTurnos}" th:value="${turno.id}" th:text="#{'mensagem.'+ ${turno.nome}}" id="turno"></option>
            </select>
            <label class="error" th:if="${#fields.hasErrors('cursoTurnos[__${rowStat.index}__].turno')}? fieldError" th:errors="*{cursoTurnos[__${rowStat.index}__].turno}">
            </label>
        </div>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-danger padding-buttons" type="submit" name="removeRow" th:value="${rowStat.index}"
                th:if="${rowStat.index} ge 0 and ${#lists.size(curso.cursoTurnos) ne 1}" > // LOGICA PARA O BOTÃO DE REMOÇÃO SO APAREÇA QUANDO AH 2 LIST E EU POSSO EXCLUIR O PRIMEIRO VALOR, DESENVOLVIDA PELO MEU AMIGO (CAIRO,ENG. COMPUTAÇÃO,UNIEVANGÉLICA-GO,2017).
            <i class="fa fa-minus" style="color: white;"></i>
        </button>
    </div>
</div>