<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<header th:replace="include/header :: header"></header>

<div class="row">
    <sidebar th:replace="include/header :: sidebar"></sidebar>
    <main class="col-md-10 bg-light">
        <h1>Admin panel</h1>
        <div class="nav nav-tabs">
            <a class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" href="#nav-users" role="tab"
               aria-controls="nav-home" aria-selected="true">Users table</a>
            <a class="nav-link" id="nav-newuser-tab" data-bs-toggle="tab" href="#nav-newuser" role="tab"
               aria-controls="nav-profile" aria-selected="false">New user</a>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-users">
                <table class="table table-striped table-hover caption-top" id="usersList">
                    <caption class="p-2 text-dark fs-4">All users</caption>
                    <thead>
                        <tr class="border-top border-dark">
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th hidden="hidden">Password</th>
                            <th>Enabled</th>
                            <th>Roles</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user : ${users}">
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.password}" hidden="hidden"></td>
                            <td>
                                <input type="checkbox" th:checked="${user.enabled}" disabled="disabled"/>
                            </td>
                            <td>
                                <p th:text="${#strings.listJoin(user.roles.![authority], ' ')} "></p>
                            </td>
                            <td>
                                <button class="btn btn-primary" id="editUserButton" data-bs-toggle="modal" data-bs-target="#userInfoModal">Edit</button>
                            </td>
                            <td>
<!--                                <form th:action="@{/admin/users/delete/{id}(id=${user.id})}" method="post">-->
                                    <button class="btn btn-danger" id="deleteUserButton" data-bs-toggle="modal" data-bs-target="#userInfoModal">Delete</button>
<!--                                </form>-->
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="nav-newuser">
                <form class="bg-white d-flex justify-content-center" action="/admin/users" th:object="${newUser}" method="post">
                    <fieldset class="col-4 text-center fw-bold">
                        <legend>Add new user</legend>
                        <input type="hidden" th:field="*{id}"/>

                        <div class="form-label">First Name:</div>
                        <div>
                            <input class="form-control" type="text" th:field="*{firstName}"/>
                        </div>

                        <div class="form-label">Last Name:</div>
                        <div>
                            <input class="form-control" type="text" th:field="*{lastName}"/>
                        </div>

                        <div class="form-label">Email:</div>
                        <div>
                            <input class="form-control" type="text" th:field="*{email}"/>
                        </div>

                        <div class="form-label">Username:</div>
                        <div>
                            <input class="form-control" type="text" th:field="*{username}"/>
                        </div>

                        <div class="form-label">Password:</div>
                        <div>
                            <input class="form-control" type="text" th:field="*{password}"/>
                        </div>

                        <div class="form-label">Enabled:</div>
                        <div>
                            <input class="form-check-input" type="checkbox" th:field="*{enabled}"/>
                        </div>

                        <div class="form-label">Roles:</div>
                        <div class="p-2">
                            <select class="form-select" th:field="*{roles}" multiple>
                                <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role}"></option>
                            </select>
                        </div>
                        <button class="btn btn-success">Add new user</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</div>

<div th:replace="include/user-edit :: user-info-modal"></div>

<footer th:replace="include/footer :: footer"></footer>

</body>
</html>