<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body>
<header th:replace="include/header :: header"></header>

<div class="row">
    <sidebar th:replace="include/header :: sidebar"></sidebar>
    <main class="col-md-10">

        <h1>USER EDIT</h1>
        <form th:action="@{/admin/users/edit/{id}(id=${user.id})}" th:object="${user}" method="post">

            <input type="hidden" th:field="*{id}"/>

            <p>
            <div>First Name:</div>
            <div>
                <input type="text" th:field="*{firstName}"/>
            </div>
            </p>

            <p>
            <div>Last Name:</div>
            <div>
                <input type="text" th:field="*{lastName}"/>
            </div>
            </p>

            <p>
            <div>Email:</div>
            <div>
                <input type="text" th:field="*{email}"/>
            </div>
            <div>Username:</div>
            <div>
                <input type="text" th:field="*{username}" readonly="readonly"/>
            </div>
        <!--    <div>Password:</div>-->
            <div>
                <input type="hidden" th:field="*{password}"/>
            </div>
            <div>Enabled:</div>
            <div>
                <input type="checkbox" th:field="*{enabled}"/>
            </div>
            </p>
            <div>Roles:</div>
            <select th:field="*{roles}" multiple>
                <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role}" selected></option>
            </select>

            <button type="submit">SAVE</button>

        </form>
    </main>
</div>

<footer th:replace="include/footer :: footer"></footer>

</body>
</html>