<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<header th:replace="include/header :: header"></header>

<div class="row">
    <sidebar th:replace="include/header :: sidebar"></sidebar>
    <main class="col-md-10">
        <h1>User information page</h1>
        <table class="table table-striped" id="usersList">
            <thead>
                <tr class="border-top border-dark">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th hidden="hidden">Password</th>
                    <th>Enabled</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${#authentication.principal.id}"></td>
                    <td th:text="${#authentication.principal.firstName}"></td>
                    <td th:text="${#authentication.principal.lastName}"></td>
                    <td th:text="${#authentication.principal.email}"></td>
                    <td th:text="${#authentication.principal.username}"></td>
                    <td th:text="${#authentication.principal.password}" hidden="hidden"></td>
                    <td>
                        <input type="checkbox" th:checked="${#authentication.principal.enabled}" disabled="disabled"/>
                    </td>
                    <td>
                        <p th:text="${#strings.listJoin(#authentication.principal.roles.![authority], ' ')} "></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
<footer th:replace="include/footer :: footer">Footer</footer>
</body>
</html>